<h3>Success! 1 Duck Buck has been credited to: 
    {{this.email}}
</h3>

              
<button id="duckBuckBtn" type="submit">
    <a href="/playground">Click Here to Add it to your Duck Wallet!</a>
</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/duckbuck.js"></script>