<div id="ducklist">
  <h1>Welcome!</h1>
  <h2>Select a saved duck or hatch a new duck.</h2>

  <div>
    <h3>Your Saved Ducks</h3>
    <ul>
      {{#each ducks}}
      <li>
        <p>{{this.name}}</p>
        <button href="/playground" type="submit" id="select-btn" class="btn btn-default">
          Select Duck
        </button>
      </li>
      {{/each}}
    </ul>
  </div>

  <form>
    <h3>Hatch a New Duck</h3>
    <label for="duckname">Enter Your Duck's Name</label>
    <input type="text" class="form-control" id="duckname" name="duckname" />
    <button type="submit" id="hatch-btn" class="btn btn-default">Hatch My Duck!</button>
  </form>
  <p>Click here to <a href="/logout">Logout</a></p>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/ducklist.js"></script>
</div>