#ducklist {
  background-color: $lightAqua;
  color: $darkGrey;
  margin: 0 auto;
  h1,
  h2,
  div,
  form,
  p {
    width: 86%;
  }
  h1 {
    font-size: 3.6em;
    margin: 30px auto 10px;
  }
  h2 {
    font-size: 1.2em;
    margin: 20px auto 30px;
  }
  h3 {
    font-size: 1.5em;
  }
  div {
    margin: 20px auto;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      li {
        background: white;
        border-top: 3px solid rgb(220, 220, 220);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin: 5px 10px 5px 0;
        padding: 10px;
        p {
          font-size: 1.2em;
          margin: 6px;
        }
        button {
          background: linear-gradient($lightPurple, $darkPurple);
          border: none;
          color: white;
          font-size: 0.9em;
          padding: 8px 16px;
          margin-top: 10px;
        }
      }
    }
  }

  form {
    margin: 10px auto;
    label {
      font-size: 1em;
    }
    button {
      background: linear-gradient($lightPurple, $darkPurple);
      border: none;
      color: white;
      font-size: 0.9em;
      padding: 10px 20px;
      margin-top: 10px;
    }
  }
  p {
    font-size: 1em;
    margin: 0 auto 20px;
    a {
      color: $lightPurple;
    }
  }
}

@media (min-width: 568px) {
  #ducklist {
    h1,
    h2,
    div,
    form,
    p {
      width: 80%;
    }
    main {
      ul {
        flex-direction: row;
      }
    }
  }
}

@media (min-width: 736px) {
  #ducklist {
    h1,
    h2,
    form,
    div,
    p {
      width: 70%;
    }
    h1 {
      margin-top: 40px;
    }
    h2 {
      font-size: 1.4em;
    }
  }
}

@media (min-width: 1024px) {
  #ducklist {
    h1, 
    h2,
    div,
    form,
    p {
      width: 60%;
    }
    h1 {
      font-size: 3.6em;
      margin-top: 60px;
    }
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 2em;
    }
    form {
      label {
        font-size: 1.3em;
      }
      button {
        font-size: 1.2em;
      }
    }
    p {
      font-size: 1.1em;
    }
  }
}
