// -------- COLORS -------- //

$lightAqua: rgb(170,251,170);
$darkGrey: rgb(61, 61, 61);
$lightPurple: rgb(140, 140, 180);
$darkPurple: rgb(130, 0, 220);
$lightPeriwinkle: rgb(107, 107, 228);
$darkPeriwinkle: rgb(114, 114, 168);
$lavender: rgb(169, 123, 207);
$pink: rgb(255,155,253);
$raspberry: rgb(165, 17, 91);
$rust: rgb(112, 50, 50);
$darkCyan: rgb(107, 107, 228);
$lightCyan: rgb(114, 114, 168);
$duckbody: yellow;
$duckBeak: rgb(255,165,0);
$duckBorder: rgba(255,165,0, 0.3);
$offWhite: rgb(241, 241, 241);
$shadow: rgba(128,128,128,0.3);

// -------- MIXINS -------- //

@mixin registerStyles () {
  background-color: $lightAqua;
    .container {
        margin: 12vh auto 0;
        width: 86%;
        h2 {
            color: $darkGrey;
        }
        button {
            background: linear-gradient($lightPurple, $darkPurple);
            border: none;
            color: white;
        }
        p {
            a {
                color: $lightPurple;
            }
        }
    }
}

// -------- CSS RESET -------- //

* {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding: 0;
}

// -------- BASE STYLES -------- //

body {
  list-style: none;
  text-decoration: none;
  background-color: $lightAqua;
}

// -------- DUCK STYLES -------- //

@import "duck";

// -------- PAGE STYLES -------- //

@import "index";
@import "signup";
@import "login";
@import "ducklist";
@import "playground";
@import "duckbucks";
