// -------- COLORS -------- //

$lightAqua: rgb(170,251,170);
$darkGrey: rgb(61, 61, 61);
$lightPurple: rgb(140, 140, 180);
$darkPurple: rgb(130, 0, 220);
$duckbody: yellow;
$offWhite: rgb(241, 241, 241);

// -------- MIXINS -------- //

@mixin registerStyles () {
  background-color: $lightAqua;
    .container {
        margin: 12vh auto 0;
        width: 86%;
        h2 {
            color: $darkGrey;
        }
        button {
            background: linear-gradient($lightPurple, $darkPurple);
            border: none;
            color: white;
        }
        p {
            a {
                color: $lightPurple;
            }
        }
    }
}

// -------- CSS RESET -------- //

* {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding: 0;
}

// -------- BASE STYLES -------- //

body {
  list-style: none;
  text-decoration: none;
  background-color: $lightAqua;

}

// -------- PAGE STYLES -------- //

@import "index";
@import "signup";
@import "login";
@import "ducklist";
@import "duckbucks";

// -------- DUCK STYLES -------- //

#duck-container {
  // border: 1px dashed black;
  height: 200px;
  // position: relative;
  margin: auto;
  width: 100%;
  #body {
    background-color: $duckbody;
    border: 1px solid rgba(255,165,0, 0.3);
    border-radius: 5% 60% 50% 95%;
    box-shadow: -5px 5px 5px rgba(128,128,128,0.3);
    height: 120px;
    left: 20px;
    overflow: hidden;
    position: absolute;
    top: 78px;
    width: 200px;
    #wing {
      background-color: $duckbody;
      border: 1px solid rgba(255,165,0, 0.3);
      border-bottom: none;
      border-radius: 0% 70% 25% 100%;
      bottom: 35px;
      box-shadow: -5px 5px 5px rgba(128,128,128, 0.3);
      height: 45px;
      left: 55px;
      position: absolute;
      width: 90px;
      z-index: 1;
    }
  }  
  #head {
    background-color: $duckbody;
    border: 1px solid rgba(255,165,0, 0.3);
    border-bottom: none;
    border-radius: 50% 70% 40% 50%;
    bottom: 55px;
    box-shadow: -5px 5px 5px rgba(128,128,128, 0.3);
    height: 100px;
    left: 90px;
    position: absolute;
    top: 0px;
    width: 120px;
    #eye {
      background: #333;
      border-radius: 50% 80%;
      display: block;
      height: 38px;
      left: 78px;
      position: absolute;
      top: 25px;
      width: 25px;
      z-index: 1;
      #pupil {
        background: white;
        border-radius: 50% 80%;
        bottom: 14px;
        display: block;
        height: 14px;
        left: 12px;
        position: absolute;
        width: 8px;
        z-index: 1;
      }
    }
    #beaktop {
      background: rgb(255,165,0);
      border-radius: 40% 20% 90% 0%;
      height: 20px;
      left: 110px;
      position: absolute;
      top: 60px;
      width: 35px;
      z-index: 1;
    }
    #beakbottom {
      background: rgb(255,165,0);
      border-radius: 20% 90% 20% 70%;
      box-shadow: -2px 2px 5px rgba(128,128,128, 0.3);
      height: 10px;
      left: 110px;
      position: absolute;
      top: 75px;
      width: 30px;
      z-index: 1;
    }    
  } 
}
 

// -------- GAME CONTAINER -------- //

#duckid,
#duckcolor {
  display: none;
}

// Standard view is vertical phones - old school gameboy look 

#gameContainer {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 80%;
  height: 90vh;
  min-height: 300px;
  margin: 40px auto;
  background-color: lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 50px;
  box-shadow: -15px 15px 15px rgba(128,128,128, 0.5);
  button {
    background: linear-gradient(rgb(165, 17, 91), rgb(112, 50, 50));
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: darkgray;
    box-shadow: -2px 2px 5px rgba(128,128,128, 0.3);
    color: white;
    cursor: pointer;
    // padding;
  }
  #pet-btn, #new-duck-btn {
    float: right;
    margin: 10px 25px 10px 10px;
  }
  #sleep-btn, #logout-btn {
    float: right;
    margin: 10px 75px 10px 10px;
  }
  #color-btn, #play-btn, #feed-btn {
    float: left;
    margin: 10px 10px 10px 25px;
  }
  #play-btn {
    margin: 10px 0 10px 75px;
  }
  #buttons-left {
    float: left;
    margin: 40vh 0;
  }
  #buttons-right {
    float: right;
    margin: 40vh 0;
  }
  .buttons {
    margin: 10px;
  }
  .viewer {
    position: relative;
    width: 80% auto;
    height: 40%;
    min-height: 240px;
    margin: 5% 5% 5% 5%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 3% 0%;
    background-color: lightcyan;
    .speech-bubble {
      position: relative;
      background: #ff9bfd;
        border-radius: .4em;
        padding: 10px;
        margin-top: 10px;
        height: 10px;
    }
    
    .speech-bubble:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 2.313em solid transparent;
      border-top-color: #ff9bfd;
      border-bottom: 0;
      border-right: 0;
      margin-left: -1.156em;
      margin-bottom: -2.312em;
    }
  }
}

#color-form {
  background-color: white;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 5px;
  display: none;
  left: 60px;
  margin: 10px;
  padding: 10px 10px 0;
  position: absolute;
  top: 220px;
  width: 225px;
  z-index: 2;
  h3 {
    padding: 10px auto 5px;
    text-align: center;
  }
  #radio-container {
    padding: 10px;
    div{
      padding: 5px;
    }
  }
  button {
    background: linear-gradient(rgb(107, 107, 228), rgb(114, 114, 168));
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: darkgray;
    box-shadow: -2px 2px 5px rgba(128,128,128, 0.3);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    width: 180px;
  }
  /* Hide Old Radio Button */
  input[type=radio]:not(old){
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
  }
  /* Space Between Labels */
  input[type=radio]:not(old) + label{
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
  }
  /* New Radio Button */
  input[type=radio]:not(old) + label > span{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid rgb(192,192,192);
    border-radius: 1em;
    background: rgb(241,241,241);
    vertical-align: bottom;
  }
  input[type=radio]:not(old):checked + label > span{
    border: 0.0625em solid rgb(61, 61, 61);
    background: rgb(241,241,241);
  }
  /* New Radio Button Fill */
  input[type=radio]:not(old):checked + label > span > span{
    display: block;
    width: 0.6em;
    height: 0.6em;
    margin: 0.125em;
    border: 0.0625em solid rgb(61, 61, 61);
    border-radius: 1em;
    background-image: linear-gradient(rgb(150, 150, 150), rgb(61, 61, 61));
  }
}



// -------- MEDIA QUERIES -------- //

// Standard view is vertical phones - old school gameboy advance look 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #gameContainer {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    height: 80vh;
    margin: 40px auto;
    background-color: rgb(169, 123, 207);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: -15px 15px 15px rgba(128,128,128, 0.5);
    button {
      background: linear-gradient(rgb(107, 107, 228), rgb(114, 114, 168));
      height: 45px;
      width: 45px;
   
      border-width: 3px;
      padding: 3px 3px;
    }
    #pet-btn, #new-duck-btn {
      float: right;
      margin: 5px 20px 5px 5px;
    }
    #sleep-btn, #logout-btn {
      float: right;
      margin: 5px 60px 5px 5px;
    }
    #color-btn, #play-btn, #feed-btn {
      float: left;
      margin: 5px 0 5px 20px;
    }
    #play-btn {
      margin: 5px 0 5px 60px;
    }
    #buttons-left, #buttons-right  {
      margin: 10px;
    }
    .buttons {
      margin: 10px;
    }
    .viewer {
      width:  50%;
      height: 80%;
      margin: 5% auto;
      border-style: solid;
      border-width: 5px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #gameContainer {
    height: 75vh;
    margin: 40px auto;

    button {
      height: 50px;
      width: 50px;
      padding: 3px 3px;
    }
    #pet-btn, #new-duck-btn {
      margin: 5px 20px 5px 5px;
    }
    #sleep-btn, #logout-btn {
      margin: 5px 60px 5px 5px;
    }
    #color-btn, #play-btn, #feed-btn {
      margin: 5px 0 5px 20px;
    }
    #play-btn {
      margin: 5px 0 5px 60px;
    }
    .buttons {
      margin: 10px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #gameContainer {
    border-width: 5px;
    border-color: black;
    height: 60vh;
    margin: 40px auto;
    background-color: rgb(169, 123, 207);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: -15px 15px 15px rgba(128,128,128, 0.5);
    button {
      background: linear-gradient(rgb(107, 107, 228), rgb(114, 114, 168));
      border: none;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      border-color: darkgray;
      box-shadow: -2px 2px 5px rgba(128,128,128, 0.3);
      color: white;
      cursor: pointer;
      padding: 10px 20px;
      font-size: large;
    }
    #pet-btn, #new-duck-btn {

      margin: 10px 50px 10px 10px;
    }
    #sleep-btn, #logout-btn {

      margin: 10px 100px 10px 10px;
    }
    #color-btn, #play-btn, #feed-btn {
 
      margin: 10px 0 10px 50px;
    }
    #play-btn {
      margin: 10px 0 10px 100px;
    }
   
    .buttons {
      margin: 10px;
    }
    .viewer {

      

      #duck-container {
        // border: 1px dashed black;
        height: 100%;
        // position: relative;
        margin: auto;
        width: 100%;
        #body {
          
          border: 3px solid rgba(255,165,0, 0.3);
          height: 180px;
          left: 20px;
          top: 100px;
          width: 300px;
          #wing {
            
            border: 3px solid rgba(255,165,0, 0.3);
            bottom: 50px;
            height: 90px;
            left: 55px;
            width: 200px;
          }
        }  
        #head {
          
          border: 3px solid rgba(255,165,0, 0.3);
          bottom: 80px;
          height: 150px;
          left: 130px;
          top: -30px;
          width: 170px;
          #eye {
            height: 50px;
            left: 90px;
            top: 25px;
            width: 30px;
            
            #pupil {
              
              bottom: 14px;
              
              height: 20px;
              left: 12px;
              
              width: 12px;
              
            }
          }
          #beaktop {
            height: 40px;
            left: 150px;
            top: 60px;
            width: 70px;
          }
          #beakbottom {

            height: 20px;
            left: 150px;
            top: 85px;
            width: 60px;
          }    
        } 
      }
    }
  }

  
}
